<div id="aboutWrapper" class="flexRow justify-center cnt-padding-medium">
    <div id="aboutContent" class="flexRow justify-center">

            <!-- http://localhost:4400 -->

        <div id="about-head" class="flexRow">
            <div id="contact" class="flexRow">
                <div id="githubIcon">
                    <a href="https://github.com/jonsilver99">
                        <img  src="{{entryUrl}}/GitHub-lit.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="https://www.facebook.com/">
                        <img id="facebookIcon" src="{{entryUrl}}/facebook.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="{{entryUrl}}/Yonatan Silverstein - CV.docx">
                        <img id="cvIcon" src="{{entryUrl}}/cv2.png" alt="">
                    </a>
                </div>
            </div>
            <div id="myPic">
                <img src="{{entryUrl}}/meAndChup.jpg" alt="">
            </div>
            <div id="title">
                <div>
                    <h1>J()HN SILVERSTEIN</h1>
                    <h2>Fullstack {{'{'}}Coder{{'}'}}</h2>
                </div>
            </div>
        </div>
        <div id="about-body" class="flexRow">
            <div id="leftCol" class="column">
                <h4>Hi There!</h4>
                <p>
                    This is a li'l image recognition app I made to showcase some of my angular skills. The app uses
                    <a href="https://www.clarifai.com">Clarifai's</a> Technology to predict image contents.
                </p>
                <h5>App Features:</h5>
                <ul>
                    <li>Login & Registration</li>
                    <li>JWT session & validation</li>
                    <li>A "like" feature</li>
                    <li>Image content recognition</li>
                    <li>A debounce function (lazy loading)</li>
                    <li>AWS S3 integration</li>
                    <li>Flexobx layout</li>
                </ul>
            </div>
            <div id="midCol" class="column">
                <h4>Usage</h4>
                <p>
                    Register as 'user' to be able to view, like & predict Image, or as 'Admin' to also be able to upload new Images.
                </p>
                <p>
                    Login.
                </p>
                <p>
                    Click on a selected Image and await Clarifai's magic.
                </p>
                <p>
                    Click on an image's
                    <span class="like-heart oi" data-glyph="heart"></span> to like the image.
                </p>
                <p>
                    Enjoy!
                </p>
            </div>
            <div id="rightCol" class="column">
                <h4>Also check</h4>
                <p>
                    These other apps from my portfolio:
                </p>
                <ul>
                    <li><a href="https://js-mp3-player.herokuapp.com">MP3 - Player</a> </li>
                    <li>More apps coming soon...</li>
                </ul>
            </div>
        </div>
    </div>
</div>