<div id="app-wrapper" class="main-wrapper">

    <header class="flex1">
        <!-- <nav class="navbar navbar-inverse bg-inverse"> -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a id="logo" class="navbar-brand" routerLink="/Login">Photo Recon</a>
            <ul class="navbar-nav flexRow">
                <li *ngIf="LoginState.isLoggedIn" class="nav-item marginize-sides" routerLinkActive="active">
                    <a class="nav-link" routerLink="/Gallery">Gallery</a>
                </li>
                <li *ngIf="LoginState.isLoggedIn && LoginState.role =='admin'" class="nav-item marginize-sides" routerLinkActive="active">
                    <a class="nav-link" routerLink="/Upload" data-scroll>Upload</a>
                </li>
                <li class="nav-item marginize-sides" routerLinkActive="active">
                    <a class="nav-link" routerLink="/About" data-scroll>About</a>
                </li>

                <li id="login_li" *ngIf="!LoginState.isLoggedIn" class="nav-item marginize-sides" routerLinkActive="active">
                    <a class="nav-link" routerLink="/Login">Login</a>
                </li>
                <li id="logout_li" *ngIf="LoginState.isLoggedIn" class="nav-item marginize-sides" routerLinkActive="active">
                    <a class="nav-link" (click)="appLogout($event)">Logout</a>
                </li>
            </ul>
        </nav>
    </header>

    <div id="content-body" class="flex8 auto-scroll" #scrollableContentBody>
        <router-outlet> </router-outlet>
    </div>
</div>