<div class="flexRow justify-center cnt-padding-medium">
    <div class="formsWrapper">
        <form [formGroup]="RegistrationForm" class="flexCol width40" (ngSubmit)="onSubmit()">
            <a class="formSwitcher" (click)="navigateToLoginForm($event)">Already registered? - login here</a>
            <h3>Register</h3>
            <div>
                <label for="">User name</label>
                <input type="text" name="uname" formControlName="uname">
                <span class="invalid-notice" *ngIf="!RegistrationForm.get('uname').valid && RegistrationForm.get('uname').touched">
                    This field is Required
                </span>
            </div>
            <div>
                <label for="">Password</label>
                <input type="password" name="pass" formControlName="pass">
                <span class="invalid-notice" *ngIf="!RegistrationForm.get('pass').valid && RegistrationForm.get('pass').touched">
                    This field is Required
                </span>
            </div>
            <!-- <div>
                <label for="">Password confirmation</label>
                <input type="password" name="passConfirm" formControlName="passConfirm">
                <span class="invalid-notice" *ngIf="!RegistrationForm.get('pass').valid && RegistrationForm.get('pass').touched">
                    This field is Required
                </span>
            </div> -->
            <div>
                <label for="">Role</label>
                <fieldset>
                    <div *ngFor="let r of Roles, let i = index">
                        <input type="radio" name="role" [value]="r" formControlName="role"> {{r}}
                    </div>
                </fieldset>
            </div>
            <div>
                <button class="btn btn-primary" [disabled]="!RegistrationForm.valid">Submit</button>
                <button type="button" class="btn btn-danger" (click)="reset($event)">Reset</button>
            </div>
        </form>
    </div>
</div>