div.pic-card{
    position: relative;
    overflow: hidden;
    width: 20%;
    margin: 2% 2%;
    background: whitesmoke;
    -webkit-box-shadow: -2px 1px 12px grey;
    box-shadow: -2px 1px 12px grey;
    transition: width .08s linear;
    filter: grayscale(1);
}

.highlighted{
    width: 22% !important;
    outline: 6px double dodgerblue !important;
    box-shadow: 0 0 25px dodgerblue !important;
    -webkit-transition: all .08s linear !important;
    -moz-transition: all .08s linear !important;
    transition: all .08s linear !important;
    filter: grayscale(0) !important;
}

.like-heart{
    position: absolute;
    bottom: .25rem;
    left: .75rem;
    color: white;
    font-size: 1.25rem;
    text-shadow: 0 0 4px black, 0 0 8px white;
    transition: font-size .25s, color .25s  linear;
}

.like-heart:hover{
    text-shadow: 0 0 4px rgb(184, 38, 38), 0 0 8px rgb(184, 38, 38);
    cursor: pointer;
}

.like-heart-liked{
    color: red !important;
    font-size: 1.75rem !important;
    transition: all .25s linear;
}



/*******************
    Loader
*******************/

#bottomSpace {
    /* padding-top: 3rem;
    padding-bottom: 1rem; */
    height: 4rem;
}

#loadingPicsIndicator {
    margin: 0 auto;
    width: 90px;
    text-align: center;
}
  
#loadingPicsIndicator > div {
    width: 18px;
    height: 18px;
    /* border-radius: 100%; */
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#loadingPicsIndicator .bounce1 {
    background-color: #333;
    -webkit-animation-delay: -0.48s;
    animation-delay: -0.48s;
}

#loadingPicsIndicator .bounce2 {
    background-color: white;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

#loadingPicsIndicator .bounce3 {
    background-color: dodgerblue;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

#loadingPicsIndicator .bounce4 {
    background-color: red;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* #loadingPicsIndicator{
    width: 100%;
    background: dodgerblue;
    color: white;
    opacity: .6;
    position: fixed;
    bottom: 0

    
} */